<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}

  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Marketplace</title>
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/marketplacestyle.css') }}">

  </head>
  <body>
    <!-- <form id="payment-form">
      <div id="card-container"></div>
      <button id="card-button" type="button">Pay $1.00</button>
    </form>
    <div id="payment-status-container"></div> -->

    <!-- <div id="my-div">TEST</div> -->
    <div class="container">
      <h1 class="test-payments" style="font-size: xx-large;">Marketplace</h1>
      <div class="item-list">
        {% for key, val in items.items() %}
          <div class="item" data-modal="#popup{{ loop.index }}">
            <img class="item-image" src="{{ items[key]['Image'] }}">
            <div class="details-location">
              <div class="details">
                <strong><p class="price">€{{ items[key]['Price'] }}</p></strong>
                <h2 id="capitalised">{{ items[key]['Name'] }}</h2>
                <p id="capitalised" class="description">{{ items[key]['Description']  }}</p>
              </div>  
            </div>
            <!-- <button class="modal-btn" data-modal="#popup{{ loop.index }}">Select</button> -->
          </div>
        {% endfor %}
      </div>
      {% for key, val in items.items() %}

        <div id="popup{{ loop.index }}" class="modal">
          <div class="modal-content">
            <div class="half-size">
              <img class="item-image" src="{{ items[key]['Image'] }}">
              <p class="price"><strong>€{{ items[key]['Price'] }}</strong></p>
              <h2 id="capitalised">{{ items[key]['Name']  }}</h2>
              <p class="description" id="capitalised">{{ items[key]['Description'] }}</p>
              <form method="POST" action="{{ url_for('main.create_order') }}">
                <input type="hidden" name="button_value" value="{{ items[key]['id'] }}">
                <button class="buy-btn" type="submit">Buy Now!</button>
              </form>
              <button class="close-btn" data-modal="#popup{{ loop.index }}">Close</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <script>

      function sleepSync(ms) {
        const start = Date.now();
        while (Date.now() - start < ms);
      }
      
      function myFunction(buttonValue) {
        console.log(buttonValue);
        
        $.ajax({
            type: "POST",
            url: "/create_order",
            data: {button_value: buttonValue},
            success: function(response) {
                console.log(response);
                console.log('true');

                window.location.replace("/new_page?response=" + response['money']);
            },
            error: function(xhr) {
              // handle error response
              console.log(response);
              // sleepSync(10000);
            }
        });

        sleepSync(1000);

        // setTimeout(function() {
        //   // Navigate to the new page
        //   window.location.href = '/new_page';
        // }, 3000); // Change the delay time as needed
      }
    </script>
    <script src="{{url_for('static', filename='script_marketplace.js')}}"></script>
  </body>


{% endblock %}
