<!-- templates/user_ads.html -->

{% extends "base.html" %}

{% block content %}

  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Your Ads</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/useradstyle.css') }}">
  </head>
  <body>
    <div class="container">
      <h1 class="test-payments" style="font-size: xx-large;">Your Ads</h1>
      {% if items|length == 0 %}
        <div style="display: flex; justify-content: center; align-items: center;">
          No ads right now...
          Try posting an ad of your own
        </div>
        </br>
        </br>
        <div style="display: flex; justify-content: center; align-items: center;">
          <a href="/post_ad" class="button is-block is-info is-large" style="max-width: 200px; border-radius: 30px; background-color: #222222;">Post an ad</a>
        </div>
      {% else %}
        <div class="item-list">
          {% for key, val in items.items() %}
            <div class="item" data-modal="#popup{{ loop.index }}">
              <img class="item-image" src="{{ items[key]['Image'] }}">
              <div class="details-location">
                <div class="details">
                  <strong><p class="price">€{{ items[key]['Price'] }}</p></strong>
                  <h2 id="capitalised">{{ items[key]['Name'] }}</h2>
                  </br>
                  <p id="capitalised" class="description">{{ items[key]['Description']|safe }}</p>
                </div>  
              </div>
              <button id="delete-button-{{ loop.index }}" class="modal-btn delete-button" data-item-id="{{ items[key]['id'] }}" data-modal="#popup{{ loop.index }}">Delete</button>
            </div>
          {% endfor %}
        </div>
      <script>
        $(document).ready(function() {
            $('.delete-button').click(function() {
                var itemId = $(this).data('item-id');
                alert(itemId);
                // Send an AJAX request to the server
                $.ajax({
                    url: '/delete_item',
                    method: 'POST',
                    data: { item_id: itemId },
                    success: function(response) {
                        // Handle the success response (e.g., update the UI)
                      console.log(response);
                        console.log('Item deleted successfully!');
                    },
                    error: function(xhr, status, error) {
                        // Handle the error response
                        console.error('Error deleting item:', error);
                    }
                });
            });
        });
      </script>
      <script src="{{url_for('static', filename='capitaliseText.js')}}"></script>
    {% endif %}
  </body>
{% endblock %}
