.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  width: 100%;
/*  text-align: center;*/
}
.item img {
  max-width: 100%;
}
.popup {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
}
.popup h2 {
  margin-top: 0;
}
.popup img {
  max-width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}
.overlay:target {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay:target .popup {
  display: block;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

